a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/*-------------------------------------------------------------------CSS card -------------------------------------------------------------------*/
.type_card{
    max-width: 310px ;
    background-color: #f5f5f5 ;
    max-height: 260px;
    border-bottom: 3px solid #FB4E4E;
    margin-bottom: 24px;
}

.type_info{
    overflow: hidden;
    max-height: 200px;
    border-bottom: 1px dotted black;
    
}

.move-up h2{
    text-align: center;
}

.type_info:hover .move-up{
    animation: moveup 0.5s 0s forwards;
}

@keyframes moveup{
    0%{ 
        position:relative;
        bottom: 0px;
    }
    100%{
        position:relative;
        bottom: 90px;
    }
}


.link_shop{
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
}

.view{
    height: 35px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383673;
    color: white;
}

.view:hover{
    opacity: 0.7;
    color: white;
}

/*----------------------------------------------------- cSS page ---------------------------------------------------*/
.product_type{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.type_card{
    margin-right: 30px;
}

.move-up h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.intro{
    display: flex;
    align-items: center;
    margin: 25px 112px 10px 112px;
}

.intro p{
    max-width: 864px;
    font-size: 18px;
    margin: 5px 0;
}

.intro h1{
    max-width: 276px;
    margin: 0 15px;
    text-align: center;
    font-family: Crimson Text;
    font-weight: bold;
}


.heading-info {
    overflow: hidden;
    text-align: center;
    margin: 0 112px 32px 112px;
    font-size: 24px;
}
.heading-info:before,
.heading-info:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.heading-info:before {
    right: 2.5em;
    margin-left: -50%;
}
.heading-info:after {
    left: 2.5em;
    margin-right: -50%;
}