html{
    background-color: grey
}

body{
    background-color: white;
    width: 800px;
    border:1px solid black;
    margin: 0 auto;
    padding-left: 30px;
}

p{
    font-size: 1.3em;
    margin-bottom: 0cm;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin-bottom: 0;
    text-transform: uppercase;
}

h3{
    display: inline-block;
    border-bottom: 1px solid black;
}

img{
    display: block;
    float:left;
    width: 4cm;
    height: 6cm;
}

.title-content{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-header{
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-left: 2cm
}

.approval {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.date {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer {
    display: flex;
}