body{
    width: 4000px;
    height: 4000px;
}

.wrap {
    position: fixed;
    right: 0;
    bottom: 0;
}

.wrap-2 {
    height: 3000px;
}

/*span{
    position: sticky;
    top: 50px;
}*/

span{
    position: relative;
    top: 10px
}